@import "tailwindcss";

:root {
  --color-peach: #f4ddcb;
  --color-brown: #655b45;
  --color-taupe: #ae9f8a;
  --color-sage: #928c77;
  --color-taupe-dark: #8f8474;
  --color-peach-light: #f3c8a7;
  --color-taupe-light: #a18c6c;
  --color-peach-muted: #cfbaa7;
  --color-sand: #cdb493;
  --color-neutral: #bbb49e;

  --background: var(--color-peach);
  --foreground: var(--color-brown);
  --surface: var(--color-peach-light);
  --surface-alt: var(--color-sand);
  --border: var(--color-taupe);
  --accent: var(--color-taupe-light);
  --muted: var(--color-neutral);
}

body {
  background: linear-gradient(120deg, #fff 0%, var(--color-peach) 30%, var(--color-peach-light) 60%, var(--color-sand) 85%, var(--color-taupe-light) 100%);
  color: var(--foreground);
  font-family: var(--font-lora), serif;
  min-height: 100vh;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--color-taupe);
  border-radius: 8px;
}
